*{
	box-sizing: border-box;
}
body{
	font-size: 16px;
	font-family: "Arial", "Georgia","Helvetica"; 
	background-color: #4C4C4D;
}
#welcome{
	color: #ddd; /*Add grey color*/
	font-weight: 1.5em; /*Increase font-weight*/
	padding: 20px, 10px; /*Add some padding*/
	margin: 40px, 15px; 
}
#welcome h1{
	padding-top: 50px;
	margin-top: 50px;
	padding-left: 10px;
}
#welcome p{
	font-size: 14px;
}
#emerald{
	font-size: 1.2em;
	font-family: "roboto";
}
#searchbar{
	background-image: url('../html/images/search-icon.png'); /* Add a search icon to input */
 	background-position: 10px 12px; /* Position the search icon */
 	background-repeat: no-repeat; /* Do not repeat the icon image */
 	width: 35%; /* width */
 	font-size: 16px; /* Increase font-size */
 	padding: 12px 20px 12px 40px; /* Add some padding */
 	border: 1px solid #ddd; /* Add a grey border */
 	border-radius: 10px; /*Give it a round edge*/
 	margin-bottom: 12px; /* Add some space below the input */
}
.users h5{
	color: #ddd;
}
/*This is the style for the user icons and their individual backgrounds*/
#all{
	background-color: #FB1AB5;
	background-image: url('../html/images/everyone.PNG');
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	width: 55px;
	padding: 20px;
	border: 0;
	border-radius: 10px;
}
#male{
	background-color: #4EB3A2;
	background-image: url('../html/images/male.PNG');
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	width: 55px;
	padding: 20px;
	border: 0;
	border-radius: 10px;
}
#female{
	background-color: #6E09B9;
	background-image: url('../html/images/female.PNG');
	background-position: center;
	background-repeat: no-repeat;
	height: 60px;
	width: 55px;
	padding: 20px;
	border: 0;
	border-radius: 10px;
}
.users a{
	text-decoration: none;
}
.users a:hover{
	cursor: pointer;
}
.users figure{
	display: inline-grid;
	margin-inline-start: 10px;
	margin-inline-end: 10px;
} 
.users figcaption{
	font-size: 11px;
	position: relative;
	padding-top: 20px;
	color: #ddd;
}